/* RESET */

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body

/* header */

header {
    padding: 20px 0;
    height: 100px;
    background-color: #add8e6;


}

.header-top-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

    /* test */
    background-color: #daa520;
}

/* Menù */
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    border: 1px dotted black;
    
    
}

nav {
    flex-grow: 2;
}


li {
    padding: 10px;  
}

/* common header-top */

.nav, .logo, .login {

    /* test */
    border: 1px dotted black;
}

/* header-bottom */

.header-bottom-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* test */
    height: 400px;
    background-color: #00008b;
    
}

.header-bottom-content {
    /* test */
    height: 300px;
    width: 650px;
    background-color: #ee81ed;
    border: 1px dotted black;

}
